<h1>New Message</h1>
<h3>(from humankind to the alien overload)</h3>

<p>Threat level goes from 1 (safe) to 3 (dangerous)</p>

<%= render 'form', message: @message %>

<%= link_to 'Back', messages_path %>
