<div class='alienmessage'>
  <img class='alienprofile' src='https://media.giphy.com/media/r9u2BEXZUzGo/giphy.gif'>
  <div class='alienchatbox'>Greetings, Earthling.</div>
</div>
<div class='message hide'>
  <img class='profile' src='https://blog.za3k.com/wp-content/uploads/2015/03/default_profile_3.png'>
  <div class='chatbox'></div>
</div>
