<div class='alienmessage'>
  <img class='alienprofile' src='https://media.giphy.com/media/r9u2BEXZUzGo/giphy.gif'>
  <div class='alienchatbox'>
    Greetings, human.
  </div>
</div>

<div class='question'>What do you want to say?</div>
<div class='options'>
  <a href='#'><div class='first option'>
    <%= @messages.order("RANDOM()")[0].content %>
  </div></a>
  <a href='#'><div class='second option'>
    <%= @messages.order("RANDOM()")[1].content %>
  </div></a>
  <a href='#'><div class='third option'>
    <%= @messages.order("RANDOM()")[3].content %>
  </div></a>
</div>
