<div align='center' width='400px'>
  <div class='message'>
    <div><img class='alienprofile' src='https://media.giphy.com/media/r9u2BEXZUzGo/giphy.gif'></div>
    <div class='alienchatbox'>Greetings, Earthling.</div>
  </div>
</div>
