<h1>Welcome, earthling!</h1>

<img src='https://media.giphy.com/media/qT7Hbhx1SYI4U/giphy.gif'>

<div class='alert'>
  <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
  <strong>Info!</strong> Type something on the text input and press <strong>Send</strong> button to get a response.
</div>

<div class='alien-response hide' id='callout-alerts-no-default'>
  <h4>The alien says:</h4>
  <p id='alien-response'> </p>
</div>

<div id='chat'>
  <input id='query' type='text' class='form-control' placeholder='Talk to the alien...'>
  <span class='input-group-btn'>
    <button id='send' class='btn btn-default' type='button'>Send</button>
  </span>
</div>
