<h1>New Response</h1>
<h3>(from alien overload to humankind)</h3>

<p>Threat level goes from 1 (safe) to 3 (dangerous)</p>

<%= render 'form', response: @response %>

<%= link_to 'Back', responses_path %>
