html, body {
  width: 600px;
  margin: auto;
  background-color: #fefefe;
  font-family: monospace;
}

.alienmessage {
  margin-bottom: 30px;
  padding: 20px;
  height: 120px;
  overflow: hidden;
}

.alienchatbox {
  float: right;
  background-color: #8b9dc3;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.alienprofile {
  float: left;
  border: 5px solid #8b9dc3;
  border-radius: 5px;
  max-width: 70%;
  max-height: 70%;
}

.message {
  margin-bottom: 30px;
  padding: 20px;
  height: 120px;
  background-color: #dfe3ee;
  overflow: hidden;
}

.chatbox {
  float: left;
  background-color: #8b9dc3;
  padding: 20px;
  border-radius: 5px;
}

.profile {
  float: right;
  border: 5px solid #8b9dc3;
  border-radius: 5px;
  max-width: 70%;
  max-height: 70%;
}

.hide {
  visibility: hidden;
}

.options {
  margin-bottom: 30px;
  padding: 20px;
  height: 120px;
  column-count: 3;
  overflow: hidden;
}

.option {
  background-color: #dfe3ee;
  padding: 20px;
  height: 40px;
  border-radius: 5px;
}

.info {
  text-align: center;
}
